*.dll
bin/Debug/KesslerSyndrome.pdb
*.xml
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.txt
obj/Debug/KesslerSyndrome.csprojResolveAssemblyReference.cache
*.pdb
*.cache
*.zip
bin/Debug/KesslerSyndrome.dll.config
*.mdb
app.config
*.log
bin/Debug/PartDatabase.cfg
*.exe